# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.local-browsers/

# Projeto
data_exports/
*.json
*.png
*.webp
*.txt
*.md
!README.md
!requirements.txt
